<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PostList</title>
    <!-- bootstrap css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="p-5 mb-5 text-center bg-light">
    <h1 class="mb-3">Blog</h1>
    <h4 class="mb-3">환영합니다.</h4>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <input type="hidden" id="post-id" th:if="${postId != null}" th:value="${postId}">
                <header class="mb-4">
                    <input type="text" class="form-control" placeholder="제목" id="title" th:value="${post.title}">
                </header>
                <section class="mb-5">
                    <textarea class="form-control h-25" rows="10" placeholder="내용" id="content" th:text="${post.content}"></textarea>
                </section>
                <button th:if="${postId} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정</button>
                <button th:if="${postId} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>
                <button type="button" id="delete-btn" class="btn btn-primary btn-sm">삭제</button>
            </article>
        </div>
    </div>
</div>

<!-- bootstrap js -->
<script src="/js/bootstrap.min.js"></script>
<script src="/js/post.js"></script>
</body>
</html>

